.cityCard {
  width: 24%;
  min-width: 350px;
  padding: 20px;
  margin: 5px;
}

.cityHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
}

.cityName {
  font-size: 20px;
}

.cityTime {
  font-style: italic;
}
